/.idea/
/data/forcing/*
/sst_gmt_relationship/data/*
**/__pycache__
**/.ipynb_checkpoints/**
data/acclimate_output/**
data/acclimate_forcing/**
/data/__pycache__/*
disaggregation/own_implementation/output/*
