/.idea/
/data/forcing/*
/sst_gmt_relationship/data/*
**/__pycache__
**/.ipynb_checkpoints/**
data/acclimate_output/**
data/acclimate_forcing/**
/data/__pycache__/*
eora_disaggregation/Eora26-v199.82-2015-CHN-USA_naics_disagg.nc
